<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
        }

        #listTypeExam {
            display: flex;
            gap: 2vw;
        }

        li {
            display: flex;
            gap: 1vw;
        }
    </style>
</head>

<body>
    <ul id="listTypeExam">
        {{#each typeExam}}
        <li>{{{ this }}}</li>
        {{/each}}
    </ul>
    <p>ATESTO QUE O(A) {{ namePatient }}, RG {{ rg }} submeteu-se a avliação de saúde, conforme regulamenta a Portaria
        Ministerial Nº 27 e 29 dezembro de 1994, NR-7, PCMSO.
    </p>
</body>

</html>