<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
        }

        #listTypeExam {
            display: flex;
            gap: 2vw;
        }

        li {
            display: flex;
            gap: 1vw;
        }
    </style>
</head>

<body>
    <ul id="listTypeExam">
        {{{ typeExam }}}
    </ul>
    <p>ATESTO QUE O(A) {{ namePatient }}, RG {{ rg }} submeteu-se a avliação de saúde, conforme regulamenta a Portaria
        Ministerial Nº 27 e 29 dezembro de 1994, NR-7, PCMSO.
    </p>
    <ul id="listRisk">
        {{{ riscks }}}
    </ul>
    <table border="1">
        <caption>Exames Realizado</caption>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Data</th>
            </tr>
        </thead>
        <h4>Empresa:</h4>
        <ul>
            <li>Nome: {{ nameCompany }}</li>
            <li>CNPJ: {{ cnpj }}</li>
        </ul>
        <h4>Riscos ocupacionais:</h4>
        
        <tbody>
            {{{ exams }}}
        </tbody>
    </table>
    <P>Foi considerado {{ status }} à desempenhar a função de {{ functionPatient }}.</P>
    <h4>Obeservações:</h4>
    <p>{{ comments }}</p>
    <h4>Local e data: <samp>Feira de Santana - BA, {{ date }}</samp></h4>
</body>

</html>