<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <script src="script.js" defer></script>
</head>
<body>
    <table border="1">
        <thead>
            <th></th>
            <td>FICHA ATESTADO DE SAÚDE OCUPACIONAL (ASO)</td>
            <td>Unidade:</td>
            <td id="clinc">Matriz</td>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Data:</td>
                <td id="created-at"></td>
            </tr>
        </tbody>
    </table>
    <ul id="listTypeExam"></ul>
    <p id="certificate"></p>
    <h4>Empresa:</h4>
    <p id="nameCompany"></p>
    <p id="cnpj"></p>
    <h4>Riscos ocupacionais:</h4>
    <ul id="scratchs"></ul>
    <table id="tableExams">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody id="bodyExams"></tbody>
    </table>
    <p id="status"></p>
</body>
</html>